numpy==1.23.5
pandas==1.5.3
tensorflow==2.10.0; sys_platform != 'darwin' # Windows & Ubuntu Intel chips
pytest
pylint
ipdb
jupyterlab
numpy
pandas
matplotlib
seaborn
scikit-learn
PIL.Image #For image resizing - to delete if not used in preprocess
io.BytesIO #To load image in memory - to delete if not used in preprocess
